.post {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgb(231, 231, 231);
  margin: 30px 0;
}

.postWrapper {
  padding: 10px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.postUsername {
  font: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.postDate {
  font-size: 12px;
}

.postCenter {
  margin: 20px 0;
}

.postImg {
  margin-top: 20px;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postButtomLeft {
  display: flex;
  align-items: center;
}

.likeIcon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}

.postLikeCounter {
  font-size: 15px;
}

.postCommentText {
  cursor: pointer;
  font-size: 15px;
}

.postTopRight {
  position: relative;
}

.postTopRightOption {
  width: 100px;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
}

.postTopRightOption li {
  list-style: none;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  padding: 10px;
}

.postTopRightOption li:hover {
  background-color: #e9e9e9;
}
